<% if (messages.error) { %>
    <div class="message error">
        <p>
            <%= messages.error %>
        </p>
    </div>
    <% } %>

        <% if (messages.success) { %>
            <div class="message success">
                <p>
                    <%= messages.success %>
                </p>
            </div>
            <% } %>