#==============================================================#
#                 Server Startup Settings                    #
#==============================================================#
# These settings are ONLY read when the server starts and are
# managed from the .env file. All other settings are dynamically
# managed from the Admin Panel after the server is running.
#--------------------------------------------------------------#

# Port on which the server will run
PORT=7033

# IP address the server will listen on ('0.0.0.0' listens on all interfaces)
HOST=0.0.0.0

# Environment: 'development' or 'production'
NODE_ENV=production

# Enables detailed logging: 'true' or 'false'
DEBUG=false